-f https://github.com/google/iree/releases
iree-compiler
iree-runtime

-f https://github.com/llvm/torch-mlir/releases
torch-mlir

--extra-index-url https://download.pytorch.org/whl/nightly/cpu
--pre
torch
torchvision
torchtext

psutil

# For torchvision, use pillow<7 to avoid `ImportError: cannot import name 'PILLOW_VERSION' from 'PIL'`
# See https://github.com/pytorch/vision/issues/1712
pillow<7
